# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.coverage

# Virtual environments
.venv/
venv/
env/

# Loaded sample CSVs
dataset/

# browser cache (contains creds)
ground_truth/pradan_browser